@using BookManager.Services
@inject ISessionService SessionService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">📚 BookManager</a>
        <span class="navbar-text ms-auto">
            @if (!string.IsNullOrEmpty(SessionService.CurrentUser))
            {
                <span>Zalogowano jako: <strong>@SessionService.CurrentUser</strong></span>
            }
        </span>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Moja biblioteka
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addbook">
                <span class="oi oi-plus" aria-hidden="true"></span> Dodaj książkę
            </NavLink>
        </div>
    </nav>
</div>

